{% extends 'base.html' %}
{% block content %}
  
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Raine Ecommerce Website..</p>
        </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <center>
        <div class="col-8"><br/>
          <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus vehicula posuere. Maecenas at lobortis mauris, ac consectetur est. Aenean sed gravida ex, et dignissim orci. Aliquam varius accumsan magna in tempus. Nullam eu consectetur ligula, eu maximus ante. In hac habitasse platea dictumst. Fusce vel molestie sem. Donec sit amet libero fringilla, laoreet odio in, scelerisque elit. Sed accumsan consectetur lectus, dapibus tincidunt leo lacinia ut. Morbi lobortis nec quam ut fermentum. In quis quam at nisi tristique porttitor. <br/><br/>

            Praesent aliquam felis leo, non ullamcorper purus laoreet a. Nunc interdum augue at enim feugiat ultricies. Quisque porta lorem at erat sodales, in fermentum ligula tristique. Maecenas scelerisque sodales ex et suscipit. Ut posuere ex nunc, non mattis elit tempor et. Sed hendrerit vel neque vel varius. Morbi porttitor pellentesque neque ultrices venenatis. Sed maximus suscipit velit, at sollicitudin odio imperdiet a. Nam tristique, mauris et aliquam interdum, mi velit congue massa, at pellentesque ligula leo ut orci. Aliquam ut ipsum ac orci lacinia pretium et at nulla. Nulla facilisi. Vivamus hendrerit lacus ut mi tempus tincidunt. Vestibulum sodales lectus tincidunt lorem ullamcorper dignissim. Mauris lacinia consectetur eleifend. Vivamus sodales rhoncus ligula in tincidunt. Suspendisse ullamcorper fringilla quam, ac aliquet sapien.<br/><br/>

            Aenean euismod blandit libero, varius viverra arcu molestie a. Nullam eu elit auctor lorem laoreet interdum condimentum vel diam. Nam sed est a est faucibus venenatis. Sed efficitur leo eget mauris gravida blandit. Cras congue lacus sed augue rhoncus rhoncus. Pellentesque rhoncus, nulla nec viverra ultrices, lacus nisi fermentum mauris, a imperdiet odio libero a lectus. Cras nibh tellus, euismod quis nunc a, pharetra condimentum ante. Cras semper varius enim ac volutpat.<br/>
          </p><br/>
        </div>
      </center>
    </div>
  </div>
{% endblock %}